body { 
    margin: 0 auto; 
    text-align: center; 
    background-color: #011627;
    color: #fff;
    width: 100vw;
}

textarea {
    text-align: center;
    width: 100vw;
    height: 15vh;
    margin: 0 auto;
    display: block;
    border-color: #0069ed;
    background-color: #FDFFFC;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    resize: none;
    border: none;
    box-sizing: border-box;
}

.btn {
    width: 100vw;
    padding: 5px 0px 5px 0px;
    display: block;
    text-align: center;
    background: #0069ed;
    color: #ffffff;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 5px;
    transition: background 50ms 20ms ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    font-family: Arial, Helvetica, sans-serif;
}

btn:active {

}

.shuffleBtn {
    background: #2EC4B6;
}

.shuffleBtn:hover {
    background: rgb(32, 139, 129);
}

.shu {
    color: #2EC4B6;
}

.copyBtn {
    background: #00A8E8;
}

.copyBtn:hover {
    background: rgb(0, 126, 175);
}

.cop {
    color: #00A8E8;
}

.clearBtn {
    background: #FF1654;
}

.clearBtn:hover {
    background: rgb(204, 18, 67);
}

.cle {
    color: #FF1654;
}

ul {
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 0px;
}

img {
    width: 30px;
}