body { 
    margin: 0 auto; 
    text-align: center; 
    background-color: #011627;
    color: #fff;
}

textarea {
    text-align: center;
    width: 95vw;
    height: 20vh;
    margin: 0 auto;
    display: block;
    border-color: #0069ed;
    background-color: #FDFFFC;
    margin-top: 20px;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

#buttons {
    width: 100%;
    height: 200px;
}

.btn {
    width: 25vw;
    padding: 15px;
    display: inline-block;
    text-align: center;
    background: #0069ed;
    color: #ffffff;
    cursor: pointer;
    margin: 20px 0px 0px 0px;
    transition: background 200ms 50ms ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

btn:active {

}

.shuffleBtn {
    background: #2EC4B6;
}

.shuffleBtn:hover {
    background: rgb(32, 139, 129);
}

.shu {
    color: #2EC4B6;
}

.copyBtn {
    background: #00A8E8;
}

.copyBtn:hover {
    background: rgb(0, 126, 175);
}

.cop {
    color: #00A8E8;
}

.clearBtn {
    background: #FF1654;
}

.clearBtn:hover {
    background: rgb(204, 18, 67);
}

.cle {
    color: #FF1654;
}

ul {
    list-style: none;
    font-family: 'Reenie Beanie', cursive;
    font-size: 40px;
}